@font-face {
    font-family: "Typoslab";
    src: url("typoslab.otf");
}

body {
    font-family: Typoslab, serif;
}

header {
    background: black;
    color: white;
    padding: 50px;
}

header h1 {
    font-size: 60px;
    text-align: center;
}

.content {

}
