<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Blogwise | {% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <h1>Blogwise</h1>
</header>
<div class="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <span>Blogwise Copyright 2024</span>
</footer>
</body>
</html>
